<div class="new-post">
		<h2 id="favoriteIcon" class="bad-button-thats-not-a-button" onclick="newPost('{{userId}}')">New post</h2>
</div>

<hr>
<div id="postParent">
	{{#each posts}}
		<div class="post">
			<h2> {{this.title}} </h2>
			<h3 class="post-author">by {{this.authorName}} </h3>
			<p>{{this.content}}</p>
			<hr>
			<div class="comments" id={{this._id}}>
				{{#each comments}}
					<div class="comment">
						<p> {{this.content}} </p>
						<div class="commenter">
							<p> by {{this.authorName}} </p>
						</div>
					</div>
				{{else}}
					<div class="comment" id="noComments">
						<p> No comments! :( </p>
					</div>
				{{/each}}
			</div>
			<div class="new-comment" onclick="newComment('{{../userId}}','{{this._id}}')">
				<p style="display: inline-block;" class="underline-text">Post a new comment</p>
				<i class="material-icons">comment</i>
			</div>
		</div>
	{{else}}
		<div class="post">
			<h2>Currently no posts! You should be the first one!</h2>
		</div>
	
	{{/each}}
</div>

<script src="/js/postHandler.js"></script>
