<div class="login-padding">
  <form action="/pokemon/getMatchup" method="POST" id="login-form">
        <input type="text" name="pokename" class="form-control" placeholder="Pokemon Name">
        <button type="submit" class="submit-button">Test another match!</button>
  </form>
</div>

<h2 style="text-align: center;"> A good pokemon to use would be the {{title}}! </h2>
<section class="display-pokemon-section">
	<div class="display-pokemon">
		{{#if isFavorite}}
			<div>
			    <p style="display: inline-block;">This is one of your favorite pokemon!</p>
			    <i class="material-icons">star</i>
			</div>
		{{else}}
			<div>
			    <p style="display: inline-block;" id="favoriteText">Add this pokemon to my favorites!</p>
			    <i class="material-icons" id="favoriteIcon" onclick="addToFavorite('{{name}}')">star_border</i>
			</div>
		{{/if}}

		<h3> Height:: {{height}} inches</h3>
		<h3> Weight:: {{weight}} lbs</h3>
		<h3> Type(s):: {{types}} <h3>
		<h3> --- Moves --- </h3>
		{{#each moves}}
			<h4>{{this}}</h4> 
		{{else}}
			<h4> No moves :( </h4>
		{{/each}}
	</div>
	<div class="display-pokemon">
		<img src="{{sprite}}"/>
	</div>
</section>
<script type="text/javascript" src="/js/addPokemonToFavorites.js"></script>