<section class="display-pokemon-section">
	<div class="display-pokemon">
		<h3> {{title}} </h3>
		<h3> Height:: {{height}} </h3>
		<h3> Weight:: {{weight}} </h3>
		<h3> --- Moves --- </h3>
		{{#each moves}}
			<h4>{{this}}</h4> 
		{{else}}
			<h4> No moves :( </h4>
		{{/each}}
	</div>
	<div class="display-pokemon">
		<img src="{{sprite}}"/>
	</div>
</section>